# General
* text=auto

# Custom
*.gen.* linguist-generated merge=ours
NOTICE linguist-generated merge=ours
THIRD_PARTY_LICENSES linguist-generated merge=ours

# Golang
go.sum linguist-generated merge=union
*.pb.go linguist-generated merge=ours
vendor/* linguist-vendored

# Kubernetes
config/* linguist-generated
zz_*.go linguist-generated

# CRDs
slinky.slurm.net_*.yaml linguist-generated merge=ours

# Helm Docs
helm/**/README.md linguist-generated merge=ours

# Read The Docs
docs/**/*.rst linguist-documentation
docs/**/*.md linguist-documentation
docs/index.rst linguist-generated

# Images
*.svg binary
*.png binary
*.jpg binary
